@font-face {
    font-family: 'Maven Pro';
    src: url(./fonts/MavenPro-VariableFont_wght.ttf);
}
body{
    /* background-image: url("seacastle.jpg"); */
}

canvas{
    position: fixed;
    display: block;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    top: 0; 
    right:0;
}